
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    clip:rect(0,0,0,0);
}

/*button.dropbtn > svg > path {
  display: none !important;
}*/

#wrapper {
  z-index: -9999999;
}

#first-icon {
  z-index: 9999999;
}

.osk_search_panel > div.item_search {
  width: 100%;
}

.osk_search_panel > div.item_search > div {
  max-width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
}

.osk-form-lebel p.form-label {
    text-align: right;
}
.osk-form-lebel > .row > .col-lg-4.offset-1.pt-lg-3 {
    margin-left: 33px;
}


.szczegoly > p {
  margin-bottom: 30px !important;
  line-height: 25px;
}

.mw-50-input {
  width: 100%;
  max-width: 350px;
}

.text-black {
    color: #000;
}
.osk-photo{
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}
.osk-btn > a button {
  max-width: 230px !important;
  margin-bottom: 30px;
}
.osk-btn-2 > button {
  max-width: 300px !important;
  background-color: #6A6D88;
  margin-bottom: 30px;
}

.osk-btn > label {
    max-width: 200px !important;
    margin-bottom: 30px;
}

.osk-btn > label > div {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section-grey-pp{
display: flex ;
flex-direction: column;
align-items: center;
justify-content: center;
}

.section-grey-pp > p{
color: #8D8D8D;
}

.section-grey-pp > div {
  width: 50%;
}





.osk-photo img {
border-radius: 25px;
height: auto;
max-width: 100%;
display:block;
margin: 20px auto;

}

a.text-black:hover {
    color: red;
}

.search-box.bg-white {
  border-radius: 30px;
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color: #ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #ff7a06;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #ff7a06;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}


.content-table{
  font-weight: bold;
}

.sticki-center{
  margin-top: auto;
  margin-bottom: auto
}

li{
  list-style-type: none;
}

.regulamin li {
    margin-bottom: 20px;
    padding-inline-start:30px ;
}

.regulamin li a {
    color: black;
    font-weight: bold;
}

.regulamin li a:hover {
    color: #B40524;
}

.regulamin li:hover {
    color: #B40524;
}

.text-primary {
    color: #B40524 !important;
}

.regulamin_body {
    font-size: 18px;
}

.regulamin_body li {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

ol {
  padding-inline-start: 0px !important;
}

.position-absolute {
    position: fixed;
    z-index: 9999;
}

.content-row{
  border-radius:27px;min-height: 50px;
}


#wrapper {
    background-image: none !important;
}

.content-background{
  background-image: url('img/img2/arrowsDown/regTlo.svg');
  background-position-x: 20%;
  background-size: cover;


}

div#os-ratings {
    padding: 0 20px;
}

.reg {
    background-image: url('img/reg.svg');



    background-position: right;
    background-repeat: no-repeat;
    background-size: 150%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -9999;

}


body {
    background: rgb(32,1,49);
    background: radial-gradient(circle, rgba(32,1,49,1) 0%, rgba(15,14,25,1) 100%);
    font-family: 'Nunito', sans-serif;
}

a { text-decoration: none; color: white; }
a:hover { text-decoration: none; color: white; }
#wrapper {
    background-image: url(img/kurs-bg.png);
    background-size: cover;
    padding-left: 7.4%;
    padding-right: 7.4%;
}

.invisible_bnb {
    height: 0px !important;
    width: 0px !important;
    position: absolute;
    opacity: 0;
}

img { vertical-align: unset; }
h1 { font-size: 48px; }
h2 { font-size: 28px; }
.c-red { color: #B50625; }
hr { border: 2px solid white }
p { font-size: 24px; line-height: 40px; }

.grey-header{
  font-size:48px;
  color: #707070;
}

.animate-hr hr { max-width: 18%; transition: max-width 1s; border: 2px solid #FFF }
.animate-hr:hover hr { max-width: 100%; }
.os-card { border-radius: 27px;  padding:30px 5px; background-color: #F3F3F3}
.os-form { border-radius: 27px; padding: 0 25px; background-color: #F3F3F3 }
.f20 { font-size: 15px; }
.os-img img { width: 80%; height: 80%; }
@media(max-width: 1700px) {
    h1 { font-size: 36px; }
    h2 { font-size: 22px; }
    p { font-size: 18px; line-height: 28px; }
    .star { width: 22px; height: 22px; }
    .btn-primary { font-size: 17px; }
}

@media(max-width: 1500px) {
    #wrapper { padding-left: 5%; padding-right: 5%; }
}

@media(max-width: 768px) {
    #wrapper { padding: 5px !important; height: unset; }
    .os-card, .os-form { height: unset; }
    h1 { font-size: 32px; }
    h2 { font-size: 18px; }
    p { font-size: 15px; line-height: 22px; }
    .side-form { height: unset; margin-top: 0; padding: 20px 20px;}
    .os-form { padding: 0; }
    .grey-header{font-size: 32px !important;}

    .section-grey-pp > div {
      width: 100%;
    }


}

@media(max-width: 991px) {
      .grey-header{font-size: 36px ;}

      .search-tab{
        height: 50px !important;
      }



}


@media(max-width: 998px) {
  .osk-form-lebel p.form-label {
text-align: left;
padding-left: 20px;
}
}



.round {
  position: relative;
  max-width: 310px;
  min-width: 150px;
  margin-left: auto;
  width: 100%;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.round label {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 16px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 2px;
  transform: rotate(-45deg);
  width: 10px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}




.testowy-formularz {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

.testowy-formularz > label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.testowy-formularz > label  > p {
    font-size: 18px !important;
}


.testowy-formularz > label > input {
    height: 50px;
    border-radius: 25px;
    border: 1px solid #B30623;
    outline: none !important;
    padding: 10px;
}

.testowy-formularz > label > input:nth-child(8) {
    border: none !important;
}





/* #################################### */

html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Nunito', sans-serif;

    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    overflow-x: hidden;
    background-color: rgb(32,1,49);
    /* background-color: radial-gradient(circle, rgba(32,1,49,1) 0%, rgba(15,14,25,1) 100%); */

    background-color: #190727;
}

body.index-bg{
  background-image: url('img/tlo.png');
}


.search-inside-box{
  background-color: #FFF;
  border-radius: 25px;
  margin: 2%;
  box-shadow: 3px 3px 10px -3px rgba(37,20,46,1);

}

.profile-icon{
  color: white;
  padding:0% 2%;
  padding-top: 20px;
  right: 0;
  position: fixed;
}

.header-row{
  min-height: 520px;
  margin-bottom: 50px ;
}

.hover_text {
    opacity: 0.6;
}

.hover_text:hover {
    opacity: 1;
}

.vertical-center{
  margin:auto;
}
.clearing-both{
  clear: both;
}

.search-bar-text-1{
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
}
.search-bar-text-2{
  font-size: 24px;
  font-weight: bold;
  color: #6D0B44 !important;
}
input.search-bar-text-2 {
    border: none;
    background-color: inherit;
}

.vertical-center-checkbox{
  margin-top: 2%;
}

.x-auto{
  margin-left: auto;
  margin-right: auto;
}

h1 { font-size: 70px; }
h3 { font-size: 48px; }
h4 { font-size: 32px; }
p { font-size: 18px; line-height: 48px; text-align: justify;}
.f24 { font-size: 24px; }
.f20 { font-size: 20px; }
.f26 { font-size: 26px; }
.f36{ font-size: 36px;}


.back-header{
  font-size:48px;
  color: #FFF;
}


a { text-decoration: none; color: white; }
a:hover { text-decoration: none; color: white; }
select { cursor: pointer; }
hr {
    border: 2px solid white;
}

button, a {
    cursor: pointer;
}

.search-bar{
  background-color: #6D0B44 ;
  color: white ;
  margin-left: 30%;
  margin-right: 10%;
  border-radius: 20px;
}

.c-red {
    color: #B50625;
    font-size: 48px;
}

.c-back {
    color: black;
}

.bg-custom-purple {
    background-color: #6D0B44;
}
.bg-search-purple {
    background-color: #6D0B44;
    border-radius: 27px;
}

.wrapper {
    padding-left: 7.4%;
    padding-right: 7.4%;
    position: relative;
    margin-top: 280px;
    overflow: visible;
}

.offset-custom {
    margin-bottom: 80px;
}



.hr-margin-left {
    margin-left: -100%;
}

.hr-small-left{
    width:20%;
    margin-left:0;
}

.hr-margin-right {
    margin-right: -100%;
}

.hr-search {
    margin-right: 27%;
}

.hr-join {
    margin-right: 40%;
}

.hr-inv{
    margin-top:0;
}

.pd0{
    padding-left: 0;
}
.p28{
    font-size: 28px;
    font-weight: lighter;
    text-align: justify;

}
.small-grey-text{
  color:#707070;
}
.small-black-text{
  color:#0F0E19;
}

.ofe-row-margin{
    margin-bottom: 80px;
    margin-top: 80px;
}
.ofe-first-margin{
    margin-top: -10%;

}

@media (max-width: 1200px){

  .ofe-first-margin{
      margin-top: 10%;
}

.search-inside-box{
  flex-direction: column;
}

}

.smartphone-icon-position{
    text-align: right;
    z-index: -1;
    margin-top: -40%;
    /* position: absolute; */
    right: -34%;

}

.icon-left-position{
    margin-top:-50% !important;

}


.animate-hr hr {
    max-width: 18%;
    transition: max-width 1s;
}

.animate-hr:hover hr {
    max-width: 60%;
}

.small-row {
    margin-top: calc(100vh * 0.145);
}

.w-40 {
    width: 40%;
}

.arrowDown {
    background: url("img/arrowDown.svg") no-repeat;
    height: 50px;
    width: 60px;
    opacity: 0;
    animation: fade 3s infinite;
}

.arrows { cursor: pointer; }

.arrow1 {
    animation-delay: 0s;
}
.arrow2 {
    animation-delay: 0.5s;
}
.arrow3 {
    animation-delay: 1s;
}

.search {
    margin-top: 5vh;
}

.header, hr { padding-right: 4rem; }

.search-left .heading-p p{
    margin-top: 50px;
    margin-bottom: 50px;
}

. {
    border-radius: 27px;
}

.osk_search_panel {
  border-radius: 35px;
}

.search-box select {
    background: url(img/select.svg) no-repeat right .75rem center/20px 18px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;

}

.home_page_form_search > .row > .search-box > .row > .col-md-3 > select {
  max-width: 320px !important;
}

.home_page_form_search > .row > .search-box > .row > .col-md-3 > .round {
  max-width: 291px !important;
}

option {
    color: black;
    font-size: 1rem;
}

.content {
    height: inherit;
}

.search-tab {
    height: 80px;
    /* -webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.28);
    margin-top: -1px; */
}

.search-left {
    margin-top: 165px;
}

.tab-left {
    padding-left: 2%;
    border-radius: 27px 0 0;
    border-bottom-left-radius: 27px;
    margin-left: -1px;
}

.tab-right {
    padding-right: 1%;
    border-top-right-radius: 27px ;
    border-bottom-right-radius: 27px;

}

.tab-right select {
    color: #B50625;
    background: url(img/selectRed.svg) no-repeat right .75rem center/20px 18px;
}

.search-list {
    /* padding: 7% 1% 0 1%; */
    width: 100%;
}
#search-list { height: 900px; }

.search-item {
    border-radius: 15px;
    width: 100% !important;
    margin-bottom: 7%;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    animation: fadeIn 2s forwards;
}

.item-content p{
    font-size: 18px;
    padding: 4px 0;
    margin-bottom: 0px;
}

.szczegoly {
    border-left: 2px solid #000;
}

.kurs-card-header{
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  flex-wrap: wrap;
}
.kurs-card-header > hr{
  border-color: black !important;
}

@media (max-width: 768px)  {
  .kurs-card-header{
    flex-direction: column;
}
    .kurs-card-header  h4 {

      font-size: 32px !important;


  }
}

.kurs-card-header > div{

  margin-left: 10px;
  margin-right: 10px;

}

.kurs-card-header > .img{
  width: 250px;
  justify-content: center;


}
.kurs-card-header > .img > img{

  justify-content: center;


}

.kurs-card-header > .descript{
  padding-left: 10px;
}
.kurs-card-header  h4 {
  color: #B40524 ;
  font-size: 48px;
  font-weight: bold;
}
.kurs-card-header  p {
  color: #0F0E19 ;
  /* font-size: 28px; */

}

.kurs-card-header > .img > img{
  max-height:250px; max-width: 250px; border-radius:27px;
}


.osk-card-media {
    display: none;
    border: 2px solid #000;
    border-radius: 20px;
    margin-bottom: 20px;
    min-height: 450px;
}



.osk-card-media > .img {
    max-height: 200px
}

.osk-card-media > .img > .img-bg-card {
    border-radius: 16px 0 0 0;
}

@media(max-width: 990px) {
    .osk-card-media {
        display: flex;
    }
    .osk-card {
        display: none;
    }
    .szczegoly {
      border-left: none !important;
    }
}

hr.bg-black {
    background: black;
    border-color: black;
    width: 70%;
    margin-left: 0;
}

.img-bg-card {
    border-radius: 16px 0 0 16px;
}

.image { height: 100%; }

.image img {
    border-radius: 15px 0 0 15px;
    height: 100%;
    max-width: 100%;
}

.osk-card {
    border: 2px solid #000;
    border-radius: 20px;
    margin-bottom: 35px;
}

.osk-card > div {
    display: flex;;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 250px;
}

.btn-primary {
    background-color: #B40524;
    border-radius: 24px;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 20px -12px rgba(46,45,46,1);

}

.button {
    bottom: 8%;
    right: 4%;
}

.category {
    top: 4%;
    right: 4%;
}

.category p { color: black; }

.cyferki {
    bottom: 3%;
    width: 100%;
}

.btn-mine {
    border: none;
    background-color: transparent;
}

.search-arrows {
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-size: 50%;
}

.purple-text{
    color: #B8578F;
}

.purple-text > hr {
    border-color: #B8578F !important;

}


.arrowRight {
    background-image: url(img/arrowRight.svg);
}
.arrowLeft {
    background-image: url(img/arrowLeft.svg);
}

.arrowsInRight{
    text-align: right !important;
}


.leftImg {
    margin-left: -10.2%;
}
.rightImg {
    right: -12%;
}

.leftImg img{
    height: 100%;
    border-radius: 15px;
}

.about{
  /* background-image: url('img/lewe.svg'); */
}

.about-content {
    margin-top: 165px;
    width: 75%;
}
.about-content p{
    margin-bottom: 10%;
    padding-right: 20px;
}

.join {
    margin-top: 15vh;
}

.pl-cus {
    padding-left: 3.15rem;
}

.dot {
    background: #fff;
    height: 20px;
    width: 20px !important;
    border-radius: 10px !important;
    margin-right: 10px !important;
}

.step {
    margin-bottom: 70px;
}

.contact {
    margin-top: 30vh;
}

.icon {
    display: block;
    height: 40px;
    /* width: 40px; */
}

.form-label{
  font-size:20px !important;
  color: #0F0E19;
  padding-left: 3%;
  margin-top: -0.3rem
}

.contact-form {
    border-radius: 15px;
    padding-top: 40px;
    padding-bottom: 50px;
}
.form-control {
    border-radius: 30px;
    height: 50px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #B30623;
    box-shadow: 0px 6px 20px -12px rgba(46,45,46,1);

}



.form-group input {

}
.form-check-input {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.form-check-label {
    cursor: pointer;
    opacity: 0.6;
    color: #0F0E19;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkmark {
    position: absolute;
    top: 0;
    left: -50px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #B40524;
}
.form-check-label:hover input ~ .checkmark {
    background-color: #ccc;
}

.form-check-label:required input ~ .checkmark {
    background-color: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.form-check-label input:checked ~ .checkmark:after {
    display: block;
}
.form-check-label .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 24px;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 24px;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 24px;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 24px;
}

.dane{
  border-bottom: 1px solid grey;
  color:grey;
  padding-top: .6rem;
  text-align: center;

}

.reg-link{text-align: inherit;}

.icons{
  max-width: 80% !important;
}

textarea.form-control {
    height: 304px;
    resize: none;
    border-radius: 15px;
}

.btn-submicik {
    right: 10%;
    margin-top: 15px;
}

footer {
    margin-top: 50px;
    background: linear-gradient(90deg, #6D0B44 100%, #FFF) left/32% no-repeat;
    z-index: -9999;
}

footer.container-fluid > .row {
    height: 100%;
    padding-left: 7.4%;
    padding-right: 7.4%;
}

.step-content { width: 100%; }
.btn-mine.active { color: #B50625; font-weight: bold; }
.btn-mine:focus { outline-color: transparent; }
#search-list-mobile { display: none; }

@keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@media (min-width: 1800px) {
    .search { margin-top: 50px !important; }
    .about { margin-top: 40px !important; }
    .join { margin-top: 450px !important; }
    .contact { margin-top: 550px !important; }
    p { font-size: 18px !important; }
}

@media (max-width: 3500px) {
    body { background-size: cover; }
    h1 { font-size: 58px; }
    /* h3 { font-size: 44px; } */
    h4 { font-size: 26px; }
    p { font-size: 18px; line-height: 41px; }
    .f24 { font-size: 20px; }
    .f20 { font-size: 18px; }
    .wrapper {
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 320px;
    }
    .search-box select { font-size: 18px; background: url(img/select.svg) no-repeat right .75rem /16px 16px; }
    .tab-right select { background: url(img/selectRed.svg) no-repeat right .75rem center/20px 18px; }
    .search-item h4 { font-size: 22px; line-height: 27px; }
    .search-item p { font-size: 18px; line-height: 28px; }
    .search-item a { font-size: 14px; line-height: 27px; padding-top: 3px; padding-bottom: 3px; width: 95px; height: 30px;}
    .numerki button { font-size: 18px; }
    .leftImg { height: 660px; margin-left: -25%; margin-top: 0; }
    .about-content { margin-top: 11vw; }
    .join { margin-top: 25vw; }
    .offset-custom { margin-bottom: 8vw; }
    .contact { margin-top: 290px; }
    ::-webkit-input-placeholder { font-size: 19px; }
    ::-moz-placeholder { font-size: 19px; }
    :-ms-input-placeholder { font-size: 19px; }
    :-moz-placeholder { font-size: 19px; }
    .form-control {  width: 82%; }
    .text-area { padding-top: 30px !important; }
    textarea.form-control { height: 250px; }
    .pt1700 { padding-top: 0.5rem !important; margin-bottom: 0 !important }
}

@media (max-width: 1700px) {
    .join { margin-top: 320px; }
}

@media (max-width: 1600px) {

    .search-left { margin-top: 80px; }
    .wrapper {
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 220px;
    }
    .header { height: 600px; }
    .search { margin-top: 170px; }
    /*.search-box { height: 900px; }*/
    .search-box select { font-size: 14px; background: url(img/select.svg) no-repeat right .75rem /12px 12px; }
    .search-item h4 { font-size: 18px; line-height: 27px; }
    .search-item p { font-size: 14px; margin: 0; padding: 0; line-height: 20px; }
    .search-item a { font-size: 11px; line-height: 24px; padding-top: 0px; padding-bottom: 0px; width: 85px; }
    .numerki button { font-size: 14px; }
    .leftImg { height: 520px; margin-top: 0px; margin-left: -24%; }
    .about { margin-top: 30px; }
    .about-content { margin-top: 100px; }
    .about-content p { margin-bottom: 5%;}
    .join { margin-top: 300px; }
    .join > .row > .col-md-6 { margin-top: 50px }
    .join-left p { margin-bottom: 40px; }
    .offset-custom { margin-left: 8.333333%; }
    .pl-cus { padding-left: 2rem; }
    .dot { background-size: 55%; margin-top: 3px; width: 100px; }
    .step { margin-bottom: 30px; }
    .step-content { padding-right: 55px; }
    .step-content hr, .step-content p { margin-bottom: 0.2rem; }
    .contact { margin-top: 320px; }
    .contact p { line-height: 36px; font-size: 18px; }
    footer .f24 { font-size: 15px; }
    footer h4 { font-size: 21px; }
    .button { bottom: 2%; }
}

@media (max-width: 1500px) {
    .wrapper { margin-top: 170px; }
    h1 { font-size: 46px; }
    h3 { font-size: 36px; }
    h4 { font-size: 22px; }
    p { font-size: 18px; line-height: 35px; }
    .f24 { font-size: 18px; }
    .f20 { font-size: 16px; }
    .search { margin-top: 50px; }
    /*.search-box { height: 800px; }*/
    .about { margin-top: 115px; }
}

@media (max-width: 1440px) {
    /* body { background-image: url('img/main1280.svg'); background-size: cover; } */
    .leftImg { height: 520px; margin-top: 80px; }
    .join { margin-top: 170px; }
}

@media (max-width: 1400px) {
    .about { margin-top: 0px; }
    .contact { margin-top: 320px; }
}

@media (max-width: 1366px) {
    .wrapper { margin-top: 150px; }
    .search { margin-top: 30px }
    .about { margin-top: 100px; }
    .join { margin-top: 220px; }
    .leftImg { margin-top: 100px; margin-left: -25% }
    .contact { margin-top: 250px; }
    .offset-custom { margin-bottom: 0 }
    .about-content { width: 100%; }
}

@media (max-width: 1280px) {
    .wrapper { margin-top: 160px; }
    .search { margin-top: 40px; }
    /*.search-box { height: 800px; }*/
    .leftImg { margin-left: -18%; margin-top: 0; }
    .join { margin-top: 200px; }
    .about { margin-top: 0px; }
    .wrapper {
        padding-left: 5%;
        padding-right: 5%;
    }
    .contact { margin-top: 140px; }

}

@media (max-width: 1240px) {
    .wrapper { margin-top: 120px; }
    .join { margin-top: 135px; }
    .contact { margin-top: 180px; }
}

@media (max-width: 1200px) {
    .position-fixed {display: none;}
    .image img { width: 90%; }
    #search-list { height: unset; }

}

@media (max-width: 991px) {

    .image img { height: unset; }
    .bg-custom-purple {
      display: none !important;
    }
    .f36{font-size: 28px}
      h1 { font-size: 30px;}

      .back-header{font-size: 36px;}
      .tab-right { padding: 0; border-top-right-radius: 0px ; border-bottom-left-radius:  27px ; }
}


@media (max-width: 768px) {
    body.index-bg { background-image: url('img/mainMobile.svg'); background-size: cover; }
    h1 { font-size: 24px; line-height: 35px;}
    h3 { font-size: 24px; }
    h4 { font-size: 18px; }
    p { font-size: 18px; line-height: 28px !important; }
    .f24 { font-size: 14px; }
    .f20 { font-size: 16px; }
    .f36 { font-size: 18px; }
    .p28 { font-size: 14px; }
    .h3-do-reg > h3{font-size: 20px;}

    .back-header{font-size: 32px;}

    .arrowsInRight > img{
      width: 70%;
      margin-top: auto;
      margin-left: auto;
    }

    .ofe-row-margin{
        margin-bottom: 50px;
    }
    .dot{
      display: none;
    }

    .wrapper { padding-left: 12%; padding-right: 12%; margin-top: 346px; }
    .header { height: auto; }
    .tab-left, .tab-right { padding: 0; border-top-right-radius: 0px ; border-bottom-left-radius:  27px ; }
  .search-box { border-radius: 27px; /*height: 600px;*/ }
    .search-item { width: 303px; }
    .search-item a { width: 73px; height: 19px; line-height: 9px; padding-top: 5px; }
    .search-item h4 { font-size: 16px; line-height: 20px; }
    .search-item p { font-size: 12px; margin-bottom: 5px; padding: 0; line-height: 10px !important; }
    .search-item .w-25 { width: 37% !important; }
    .search-item .img-fluid { max-width: unset; height: 100%; }
/*    .search-list { padding: 7% 9%; }*/
    .button { bottom: 0; }
    .select1 { width: 95px; }
    .select2 { width: 140px; }
    .join { margin-top: 50px; }
    .offset-custom { margin-left: unset; }
    .step-content { padding-right: 0;}
    .step-content p { font-size: 14px; }
    .dot { background-size: 52%; width: 90px;}
    .steps { margin-top: 75px; }

    .contact-form { margin-top: 50px; }
    .contact p { font-size: 14px; }
    footer { background: linear-gradient(90deg, #6D0B44 100%, #FFF) top/100% 200px no-repeat; margin-top: 9rem; }
    footer .heading { text-align: center; margin-top: 30px; }
    footer .f24 { font-size: 11px; line-height: 22px; }
    .form-control { height: 50px; font-size: 14px; }
    .form-label { font-size: 16px !important;}
    .btn-primary { font-size: 13px; }
    .form-check-label.f20 { font-size: 14px; }
    .checkmark {  width: 13px; height: 13px; top: -2px; left: -38px; }
    .form-check-label .checkmark:after { left: 3px; top: 0px; width: 5px; height: 9px;border-width: 0px 2px 2px 0; }


    .hr-100 { margin-left: -50%; margin-right: -50%; }
    .cyferki { width: 100vw; }
    .header .heading, .heading hr { padding-right: unset; }
    .item-mobile { height: unset !important; flex-wrap: wrap; }
    .search-item-mobile-wrapper { height: 100px; }
    .search-item-mobile-wrapper .image  img { margin-left: 0 !important; border-radius: 15px 0 0 0;}
    .item-mobile .button { margin-right: 5px; margin-top: 7px; }
    .image img { width: 80%; }


    ::-webkit-input-placeholder { font-size: 16px; }
    ::-moz-placeholder { font-size: 16px; }
    :-ms-input-placeholder { font-size: 16px; }
    :-moz-placeholder { font-size: 16px; }
}

@media (max-width: 530px) {
    #search-list-mobile { display: block; }
    #search-list { display: none; }
    .search-item { height: unset; }
 }

@media( min-width: 1400px) {
     .search-item { height: 250px; }

}





/*----------------------------------------------------*/

.dropbtn {
  background: transparent;
  color: white;
  font-size: 16px;
  border: none;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 30px;
    width: 30px;
}

.dropdown_padding {
    background-color: #fff;
    min-width: 160px;
    max-width: 200px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  padding-top: 60px;
  z-index: 3;
}

.dropdown-content > a {
    border-bottom: 1px solid #8a8a8a;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:nth-child(1) {
    border-radius: 10px 10px 0 0;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background: transparent;}

.dropdown:focus {
    outline: none;
}

.dropbtn:focus {
    outline: none;
}


form.wyloguj > input {
    border: none;
    background: transparent;
    color: red;
}


.btn-secondary-bnb {
  height: 45px;
  width: 80%;
  max-width: 300px;
  border: none;
  border-radius: 22.5px;
  background-color: #6A6D88;
  transition: 1s all;
  min-width: 200px;
}

.btn-secondary-bnb:hover {
  background-color: #474958;
}

.btn-thirdary-bnb {
  height: 45px;
  width: 80%;
  max-width: 300px;
  border: none;
  border-radius: 22.5px;
  background-color: #6D0B44;
  transition: 1s all;
  min-width: 200px;
}

.btn-thirdary-bnb:hover {
  background-color: #470C2F;
}

.mw-50 {
  width: 100%;
  max-width: 700px;
}
